@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UNO</h1>
    <p class="lead">¡Juega UNO en línea con tus amigos!</p>
    <p><a href="@Url.Action("Create", "Games")" class="btn btn-primary btn-lg">Iniciar juego</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Compite en línea</h2>
        <p>
            Gana varias partidas y llega al tablero de puntuaciones altas
        </p>
        @*<p><a class="btn btn-default" href=""></a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Juega donde quieras</h2>
        <p>UNO funciona en computadoras y tablets</p>
        @*<p><a class="btn btn-default" href=""></a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Diversión para todos</h2>
        <p>¿Qué esperas?</p>
        @*<p><a class="btn btn-default" href=""></a></p>*@
    </div>
</div>